.list-container {
  display: flex;
  font-size: 18px;
  background-color: #eee;
  flex-direction: column;
}
.item-container {
  background-color: #fff;
  border: 1px solid black;
  padding: 25px 70px;
  margin: 15px 50px;
}



.App{
  height: 100vh;
}
.App-header{
  position: relative;

}
.App-header img{
  width: 100%;
}
.Container{
  position: absolute;
  width: 40%;
  top: 50px;
}
input
{
  width: 100%;
  padding: 2%;
}
ul{
  width: 100%;
  padding: 2%;
  list-style-type: none;
}
li{
  padding-right: 5%;
}
.heading{
  color: white;
  font-weight: bolder;
  font-size: 40px;
}
.dark{
  background-color: black;
}
.Container header{
  display: flex;
  justify-content: space-between;
}
.footer{
  display: flex;
  justify-content: space-between;
}
.footer span, .mobileNavbar span, .desktopNavbar span{
  font-size: small;
}
.mobileNavbar
{
  display: none;
}
.desktopNavbar
{
  display: block;
  display: flex;
  justify-content: space-between;
}
.bg-mobile-light, .bg-mobile-dark{
  display: none;
}
.bg-desktop-light, .bg-desktop-dark{
  display: block;
}
@media screen and (max-width: 480px)
{
  .App-header img{
    width: 100%;
  }
  .mobileNavbar{
    display: flex;
    justify-content: space-between;
  }
  .mobileNavbar span{
    font-size: 0.875em;
  }
  .desktopNavbar
  {
    display: none;
    
  }
  .footer span, .mobileNavbar span, .desktopNavbar span{
    font-size: 0.6em;
  }
  .bg-mobile-light, .bg-mobile-dark{
    display: block;
  }
  .bg-desktop-light, .bg-desktop-dark{
    display: none;
  }
  .Container{
    width: 80%;
  }
}